{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-comments", "import", "prettier"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "no-nested-ternary": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-param-reassign": [2, { "props": false }],
    "prefer-destructuring": [2, { "object": true, "array": false }]
  }
}
